.cart{
    position: absolute;
    top:8.5vh;
    right: 0;
    padding: .2rem .5rem;
    margin-right: 3rem;
    max-height: 500px;
    width: 400px;
    overflow-y: scroll;
    border-radius: 5px;
    background-color: white;
    box-shadow: -1px 1px 5px 0px rgba(97,97,97,0.75);
    -webkit-box-shadow: -1px 1px 5px 0px rgba(97,97,97,0.75);
    -moz-box-shadow: -1px 1px 5px 0px rgba(97,97,97,0.75);
}


.cart::-webkit-scrollbar{
    background-color: transparent;
    width: 5px;
}

.cart::-webkit-scrollbar-thumb{
    background-color: rgb(255, 226, 171);
}


.product-container{
    display: flex;
    position: relative;
}

.product-container h2{
    font-size: 17px;
}

.product-container h3{
    font-size: 19px;
}

.product-container button{
    background-color: transparent;
    border: none;
}

.product-img-container{
    display: flex;
    align-items: center;
    width: 150px;
}

.product-img{
    height: 64px;
    width: 64px;
    margin: auto;
}

.sales-and-price{
    display: flex;
}

.trash{
    position: absolute;
    top: 10px;
    right: 10px;
}

.product-desc{
    padding: .2rem 1rem;
    margin-top: .5rem;
}

.product-desc h3{
    background: #FFB76B;
    background: linear-gradient(to right, #FFB76B 0%, #FFC587 30%, #FFC75F 60%, #F189FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.product-details{
    width: 10ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.buy-button{
    width: 100%;
    background-color: orange;
    padding: .5rem;
    border: none;
    margin-bottom: .2rem;
}

.buy-button a{
    text-decoration: none;
    color:white;
    font-size: 18px;
}